<footer>
  <ul>
    <li>
      <a href="#"><i class="bi bi-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-github"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-facebook"></i></a>
    </li>
  </ul>
  <p>Copyright &copy; Hack Academy 2022</p>
</footer>
