<header class="contenedor-con-fondo">
  <h1 class="text-secondary text-white " style="font-size: 70px; font-weight: bolder;">Hack the blog</h1>
  <p class="text-secondary text-white "style="font-size: 30px;">El Blog de Hack Academy</p>
</header>
