<<<<<<< Updated upstream
<nav class="navbar bg-black">
  <div class="container">
    <a class="navbar-brand text-white">Hack the blog</a>
    <a class="btn btn-primary" href="/admin">Admin</a>
  </div>
</nav>
=======
<nav class="navbar bg-body-tertiary bg-black">
    <div class="container-fluid">
      <a class="navbar-brand">Hack the blog</a>
        <button class="btn btn-primary" type="submit">Admin</button>
    </div>
  </nav>
>>>>>>> Stashed changes
