<nav class="navbar bg-black">
  <div class="container">
        <a class="navbar-brand text-white" href="/">Hack the blog</a>
        <a class="btn btn-primary" href="/registro">Registro</a>
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-primary" href="/admin">Admin</a>
        <a class="btn btn-primary" href="/logout">Logout</a>
  </div>
</nav>
