<nav class="navbar navbar-expand-lg bg-black row w-100">
  <div class="container-fluid col-8">
    <div class="row w-100">
      <div class="col-8">
        <a class="navbar-brand text-white" href="/">Hack the blog</a>
      </div>
      <div class="col-4 d-flex flex-column justify-content-center align-items-end gap-2">
        <button
          class="navbar-toggler bg-light w-50 align-self-end"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex gap-1">
            <% if(user === undefined){ %>
            <li class="nav-item">
              <a class="btn btn-primary" href="/registro"> Registro </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" href="/login"> Login </a>
            </li>
            <% }else{ %>
            <li class="nav-item">
              <a class="btn btn-primary" href="/logout"> Logout </a>
            </li>
            <% if (user.roleId != 1) {%>
            <li class="nav-item"> 
              <a class="btn btn-primary" href="/admin"> Admin </a>
            </li>
            <% }%>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
