@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

header,
footer {
  text-align: center;
}

footer > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

footer > ul > li {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.contenedor-con-fondo {
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 0%), url('https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?cs=srgb&dl=pexels-jeshootscom-442574.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 388px;
  padding-top: 8rem;
}

.header-article {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  padding-top: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
.createdAtCol {
  width: 100px;
}

.listImage {
  width: 120px;
}
